*, body, html{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    background-size: cover;
    background-repeat:no-repeat;
    
}



.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-bottom: 5px;
    text-align: center;
    text-transform: capitalize;

}


